<!DOCTYPE html>
<html>
  <head>
    <title>PostPandemicProperty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= react_component("Header", {loginPath: new_user_session_path, logoutPath: destroy_user_session_path, signUpPath: new_user_registration_path, isUserLoggedIn: user_signed_in?, userProfilePath: user_profile_path(current_user)}, {prerender: false}) %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
